{% extends '::lounge-template.html.twig' %}

{% block pageHeader %}
    <h2>{{ book.title }}</h2>
    <h4>
        {{ book.authors }}
        <span>ISBN: {{ book.ISBN }}</span>

        <div class="control">
            <a href="/books/{{ book.slug }}.etb" class="btn btn-success btn-xs book-download">
                <span class="glyphicon glyphicon-save"></span>
                {{ 'Скачать учебник'|trans }}</a>
            {% if app.user %}
                / <a href="{{ path('book-edit', {'slug': book.slug, 'module': ' ' }) }}"
                     class="edit-link btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span>
                {{ 'Редактировать'|trans }}</a>
            {% endif %}
        </div>
    </h4>
{% endblock %}

{% block pageContent %}

    <ol id="moduleList" class="breadcrumb">
        {% for module in modules %}
            {% if(module.slug != currentModule) %}
                <li>
                    <a href="{{ path('book-view', { 'slug': book.slug, 'module': module.slug }) }}">
                        {{ module.title }}
                    </a>
                </li>
            {% else %}
                <li class="active"> {{ module.title }} </li>
            {% endif %}
        {% endfor %}
    </ol>

    {% include 'eTextBookLoungeBundle:Book:module-form.html.twig' with { 'book': book } %}

    <div class="e-text-book-editor view-mode" book="{{ book.slug }}" module="{{ currentModule }}"
         update-action="{{ path('book-update-module') }}">
        <div class="e-text-book-viewer">
            {% set moduleContent = currentModule != ' ' ? book.getModuleContent(currentModule) : book.getFirstModuleContent() %}
            {{ moduleContent|raw }}
        </div>
    </div>

    {% include 'eTextBookLoungeBundle:Book:js-templates.html.twig' %}
    {% include 'eTextBookLoungeBundle:Default:file-manager.html.twig' with { 'book': book } %}

{% endblock %}