<ul class="list-unstyled book-list">
    {% for book in books %}
        <li id="{{ book.slug }}" class="item">
            <div class="cover" style="background-image: url(/tmp/{{ book.slug }}/content/cover.png)" data-anijs="if: scroll, on: window, do: flipInY animated, before: scrollReveal, after: removeAnim">
                <div class="source-type {{ book.sourceExtension }}"></div>
            </div>
            {% if book.source | length > 0 %}
                <a class="title" href="/tmp/{{ book.slug }}/{{ book.source }}">{{ book.title }}</a>
            {% else %}
                <a class="title" href="{{ path('book-view', {'slug': book.slug, 'module': ' ' })  }}">
                    {{ book.title }}
                </a>
            {% endif %}
            <span class="authors"> {{ book.authors }} </span>
            {% if app.user and book.source | length == 0 %}
                <a href="{{ path('book-edit', {'slug': book.slug, 'module': ' ' })  }}" class="edit-link btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-edit"></span>
                    Редактировать
                </a>
                <a href="tmp/{{ book.slug }}/index.html" class="view-link btn btn-success btn-xs">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    Эмулятор
                </a>
            {% endif %}
        </li>
    {% endfor %}
</ul>