{% extends '::lounge-template.html.twig' %}

{% block pageHeader %}
    <h1>Учебники</h1>
{% endblock %}

{% block pageContent %}
    <ul class="list-unstyled book-list">
        {% if app.user %}
            <li>
                <span class="glyphicon glyphicon-file"></span>
                <a id="addBookButton" href="#" data-toggle="modal" data-target="#bookFormModal"> Создать новый учебник </a>
                {% include 'eTextBookLoungeBundle:Book:form.html.twig' %}
            </li>
            <li> &nbsp; </li>
        {% endif %}
        {% for book in books %}
            <li id="{{ book.slug }}">
                <span class="glyphicon glyphicon-book"></span>
                <a class="title" href="{{ path('book-view', {'slug': book.slug, 'module': ' ' })  }}">
                    {{ book.title }}
                </a>
                {% if app.user %}
                    <a href="{{ path('book-edit', {'slug': book.slug, 'module': ' ' })  }}" class="edit-link btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-edit"></span>
                        Редактировать
                    </a>
                {% endif %}
                <br />
                <span class="authors"> {{ book.authors }} </span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

