<div
    class="file-manager"
    image-path="/tmp/{{ book.slug }}/content/img"
    video-path="/tmp/{{ book.slug }}/content/video"
    audio-path="/tmp/{{ book.slug }}/content/audio"
    slug="{{ book.slug }}"
    upload-action="{{ path('book-file-upload') }}"
>
    <div class="window">
        <div class="close glyphicon glyphicon-remove-circle"></div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#images" data-toggle="tab">{% trans %}Картинки{% endtrans %}</a></li>
            <li><a href="#videos" data-toggle="tab">{% trans %}Видео{% endtrans %}</a></li>
            <li><a href="#audios" data-toggle="tab">{% trans %}Аудио{% endtrans %}</a></li>

            <div class="form-group upload-container">
                <label for="uploadInput">
                    <span class="glyphicon glyphicon-folder-open"></span>
                    {% trans %}Загрузить файл{% endtrans %}
                </label>
                <input type="file" id="uploadInput" name="upload-file">
            </div>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active image" id="images">
                <div class="list">
                    {% for image in package.bookImages %}
                        <div
                            class="item {{ image['extension'] }}"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="{{ image['title'] }}.{{ image['extension'] }}"
                        >
                            {{ image['title'] }}
                        </div>
                    {% endfor %}
                </div>
                <div class="player">
                    <div class="display"></div>
                    <div class="buttons">
                        <div class="btn btn-primary btn-sm select">
                            <span class="glyphicon glyphicon-ok"></span>
                            {% trans %}Выбрать{% endtrans %}</div>
                        <div class="btn btn-danger btn-sm remove">
                            <span class="glyphicon glyphicon-remove"></span>
                            {% trans %}Удалить{% endtrans %}</div>
                    </div>
                </div>
            </div>

            <div class="tab-pane video" id="videos">
                <div class="list">
                    {% for video in package.bookVideos %}
                        <div
                            class="item {{ video['extension'] }}"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="{{ video['title'] }}.{{ video['extension'] }}"
                            >
                            {{ video['title'] }}
                        </div>
                    {% endfor %}
                </div>
                <div class="player">
                    <video controls></video>
                    <div class="buttons">
                        <div class="btn btn-primary btn-sm select">
                            <span class="glyphicon glyphicon-ok"></span>
                            {% trans %}Выбрать{% endtrans %}</div>
                        <div class="btn btn-danger btn-sm remove">
                            <span class="glyphicon glyphicon-remove"></span>
                            {% trans %}Удалить{% endtrans %}</div>
                    </div>
                </div>
            </div>

            <div class="tab-pane audio" id="audios">
                <div class="list">
                    {% for audio in package.bookAudios %}
                        <div
                            class="item {{ audio['extension'] }}"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="{{ audio['title'] }}.{{ audio['extension'] }}"
                            >
                            {{ audio['title'] }}
                        </div>
                    {% endfor %}
                </div>
                <div class="player">
                    <audio controls>
                        Ваш браузер не поддерживает данный формат аудио.
                    </audio>
                    <div class="buttons">
                        <div class="btn btn-primary btn-sm select">
                            <span class="glyphicon glyphicon-ok"></span>
                            {% trans %}Выбрать{% endtrans %}</div>
                        <div class="btn btn-danger btn-sm remove">
                            <span class="glyphicon glyphicon-remove"></span>
                            {% trans %}Удалить{% endtrans %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>