{% extends '::lounge-template.html.twig' %}

{% block pageHeader %}
    <h1> {{ 'О проекте'|trans }}</h1>
{% endblock %}

{% block pageContent %}
    <div class="col-md-6">
        <h3>{% trans %}Обоснование проекта: {% endtrans %}</h3>

        <p>{{ 'О проекте текст1'|trans }}</p>

        <p>{{ 'О проекте текст2'|trans }}</p>

        <p>{{ 'О проекте текст3'|trans }}</p>

        <p>{{ 'О проекте текст4'|trans }}</p>
    </div>
    <div class="col-md-6">
        <h3>{{ 'Целью проекта'|trans }}</h3>

        <p>{{ 'Цель проекта текст1'|trans }}</p>

        <h3>{% trans %}Задачи проекта включают в себя следующее:{% endtrans %}</h3>

        <p>{{ 'Цель проекта текст2'|trans }}</p>

        <p>{{ 'Цель проекта текст3'|trans }}</p>

        <p>{{ 'Цель проекта текст4'|trans }}</p>
    </div>
{% endblock %}