<nav class="navbar navbar-default main-menu" role="navigation" data-anijs="if: load, on: window, do: bounceInDown animated">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('home-page') }}">
                <div class="logo">
                    Редактор <br />
                    <span>электронных учебников</span>
                </div>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li {% if app.request.attributes.get('_route') == 'home-page' %} class="active" {% endif %}>
                <a href="{{ path('home-page') }}">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    {{ 'О проекте'|trans }}
                </a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'books' %} class="active" {% endif %}>
                <a href="{{ path('books') }}">
                    <span class="glyphicon glyphicon-book"></span>
                    {{ 'Учебники'|trans }}
                </a>
            </li>
            {% if app.user %}
                <li {% if app.request.attributes.get('_route') == 'my-books' %} class="active" {% endif %}>
                    <a href="{{ path('my-books') }}" class="book-list-link">
                        <span class="glyphicon glyphicon-book"></span>
                        {{ 'Мои учебники'|trans }}
                    </a>
                </li>
            {% endif %}
            <li {% if app.request.attributes.get('_route') == 'readers' %} class="active" {% endif %}>
                <a href="{{ path('readers') }}">
                    <span class="glyphicon glyphicon-phone"></span>
                    {{ 'Ридеры'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('documentation') }}">
                    <span class="glyphicon glyphicon-user"></span>
                    {{ 'Авторам'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ path('development') }}">
                    <span class="glyphicon glyphicon-cog"></span>
                    {{ 'Разработчикам'|trans }}
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                {% if not app.user %}
                    <a href="{{ path('enter') }}" id="loginLink">
                        <span class="glyphicon glyphicon-home"></span>
                        {% trans %}Войти | Зарегистрироваться{% endtrans %}
                    </a>
                {% else %}
                    <a href="{{ path('logout') }}">
                        <span class="glyphicon glyphicon-home"></span>
                        {{ app.user.username }} | {% trans %}Выйти{% endtrans %}
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="pull-right language-changer">
        <a
            class="label label-{% if app.request.locale == 'ru' %}primary{% else %}default{% endif %}"
            href="{{ path('home-page', { '_locale' : 'ru' }) }}"
        >
            Русский
        </a>
        <a
             href="{{ path('home-page', { '_locale' : 'kg' }) }}"
             class="label label-{% if app.request.locale == 'kg' %}primary{% else %}default{% endif %}"
        >
            Кыргызча
        </a>
    </div>
</div>