<nav class="navbar navbar-default main-menu" role="navigation" data-anijs="if: load, on: window, do: bounceInDown animated">
    <div class="container">
        <ul class="nav navbar-nav">
            <li {% if app.request.attributes.get('_route') == 'home-page' %} class="active" {% endif %}>
                <a href="{{ path('home-page') }}">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    О проекте
                </a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'books' %} class="active" {% endif %}>
                <a href="{{ path('books') }}" class="book-list-link">
                    <span class="glyphicon glyphicon-book"></span>
                    Учебники
                </a>
            </li>
            <li {% if app.request.attributes.get('_route') == 'readers' %} class="active" {% endif %}>
                <a href="{{ path('readers') }}">
                    <span class="glyphicon glyphicon-phone"></span>
                    Ридеры
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Редакторы
                </a>
            </li>
            <li>
                <a href="{{ path('documentation') }}">
                    <span class="glyphicon glyphicon-user"></span>
                    Авторам
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-cog"></span>
                    Разработчикам
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="glyphicon glyphicon-envelope"></span>
                    Обратная связь
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                {% if not app.user %}
                    <a href="{{ path('login') }}">
                        <span class="glyphicon glyphicon-home"></span>
                        Войти
                    </a>
                {% else %}
                    <a href="{{ path('logout') }}">
                        <span class="glyphicon glyphicon-home"></span>
                        Выйти
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>