<ul class="list-unstyled doc-menu">
    <li class="{% if app.request.attributes.get('_route') == 'documentation' %}current{% endif %}">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <a href="{{ path('documentation') }}">
            Работа с редактором
        </a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == 'documentation-register' %}current{% endif %}">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <a href="{{ path('documentation-register') }}">
            Регистрация
        </a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == 'documentation-book-create' %}current{% endif %}">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <a href="{{ path('documentation-book-create') }}">
            Созание нового учебника
        </a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == 'documentation-module-create' %}current{% endif %}">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <a href="{{ path('documentation-module-create') }}">
            Добавление модулей
        </a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == 'documentation-task-create' %}current{% endif %}">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <a href="{{ path('documentation-task-create') }}">
            Добавление упражнений
        </a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == 'documentation-edit-access' %}current{% endif %}">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <a href="{{ path('documentation-edit-access') }}">
            Права редактирования
        </a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == 'documentation-publish' %}current{% endif %}">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <a href="{{ path('documentation-publish') }}">
            Публикация учебника
        </a>
    </li>
</ul>