{% block extends %}
    {{ "{% extends 'eTextBookSpawnBundle::layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block pageContent -%}" }}
    <h1>
        {{ entity }} list
        {% if 'new' in actions %}
            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" class="btn btn-primary">
                Create new {{ entity }}
            </a>
        {% endif %}
    </h1>

    <table class="table table-striped">
        <thead>
            <tr>
            {%- for field, metadata in fields %}

                <th>{{ field|capitalize }}</th>

            {%- endfor %}

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {{ '{% for entity in entities %}' }}
            <tr>

        {%- for field, metadata in fields %}
            {%- if loop.first and ('show' in actions) %}

                <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

            {%- elseif metadata.type in ['date', 'datetime'] %}

                <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

            {%- else %}

                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

            {%- endif %}

            {%- if loop.last %}

                <td class="actions">
                    {%- include "crud/views/others/actions.html.twig.twig" %}
                </td>

            {%- endif %}
        {%- endfor %}

            </tr>
        {{ '{% endfor %}' }}
        </tbody>
    </table>

    <ul class="pagination">
        {{  '{% for page in 1..pages %}' }}
            {{ '<li {% if page == current_page %} class="active" {% endif %}>' }}
                {{ '<a href="?page={{ page }}">{{ page }}</a>' }}
            {{ '</li>' }}
    {{ '{% endfor %}' }}
    </ul>

{{ "{% endblock %}" }}

{% endblock body %}
